<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <title>Add New Employee</title>
</head>
<body>
<div align="center">
    <form  action="#" th:action="@{/saveEmployee}" th:object="${employee}"  method="post">
    <input placeholder="Employee First Name" type="text" th:field="*{firstName}">
    <br>
    <input placeholder="Employee last Name" type="text" th:field="*{lastName}">
    <br>
    <input placeholder="Employee email" type="text" th:field="*{email}">
    <br>
        <button type="submit">Save Employee</button>
    </form>
</div>

</body>
</html>