<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head lang="en">
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
<h1 align="center">Employee Managment System</h1>
<div align="center">
    <a th:href="@{/newEmployeeForm}">Add new Employee</a>
</div>
<div align="center">
    <table border="1">
        <thead>
        <tr>
            <th>Employee First Name</th>
            <th>Employee Last Name</th>
            <th>Employee Email</th>
            <th>TO DO</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${listOfEmployees}">
            <td th:text="${employee.firstName}"></td>
            <td th:text="${employee.lastName}"></td>
            <td th:text="${employee.email}"></td>
            <td> <a th:href="@{/showUpdateEmployeeForm/{id}(id=${employee.id})}">Update</a></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>